header{
    background-color: red;
}

.cabecalho{
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}
a{
    color: red;
    text-decoration: none;
    padding: 8px;

}
a:hover{
    color: white;
    transition: all 0.2s;
}

ul li {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    color: red;
}

ul li:hover{
    background-color: red;
    transition: 0.3s;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 2.7rem;
    justify-content: space-around;
    align-items: center;
}