header{
    background-color: red;
}

.cabecalho{
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}
a{
    color: red;
    text-decoration: none;
}

ul li {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    color: red;
    
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 2.7rem;
    justify-content: space-around;
    align-items: center;
}